{% extends "layout.html" %}

{% block underHeader %}
<div class="package-bar">
  <div class="o-grid-container">
    <div class="o-grid-row">
      <div data-o-grid-colspan="12">
        <div class="package-bar__text">
          FT Series <a href="https://www.ft.com/content/a2e41aa4-146c-11e7-80f4-13e067d5072c">Management’s missing women</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block article_body %}
{% markdown %}

<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fb9ba1b1a-1634-11e7-b0c1-37e417ee6c76?source=ig&fit=scale-down&width=700" />
    <figcaption class="o-typography-caption">FT graphic: Kari-Ruth Pedersen</figcaption>
</figure>

The majority of junior staff working in financial services are women but only one in four of those who reach a senior role is female, according to exclusive Financial Times data that highlight the struggle the industry faces to close the gender gap.

The FT [gathered data](#table) from 50 of the world’s biggest banks, insurers, asset managers and professional services firms on their progress towards achieving a more even split between men and women throughout their organisations. Another 15 companies refused to disclose information.

The data reveal that the share of women plunges dramatically as employees move up through the ranks at their institutions. Despite some improvements in recent years, progress has been painstakingly slow.

Women made up 25.5 per cent of senior roles in 2016, compared with 23.7 per cent in 2014. The number of women in mid-level jobs stayed flat at just over 39 per cent for the same period.

{% endmarkdown %}{% include "graphics/bubbles.html" %}{% markdown %}

Just over half the companies’ total staff are female — including 58 per cent at a junior level — and the companies have actively tried to hire and promote more women, with some insisting that women participate in the interview process and that shortlists include at least one female candidate.

{% endmarkdown %}<div>{% include './teaser.html' %}</div>{% markdown %}

Across the sector, the FT data found that professional services firms had the highest representation of women at senior levels, with one woman to every two men. Banks, insurers and asset managers were broadly similar, with about one woman to every three men.

Regionally, Asia was an outlier. Banks, which were the only companies to disclose data for the region, had just 6.9 per cent female representation at their most senior levels.

Comparisons between institutions are imperfect with this data because senior, mid-level and junior categories are defined by the companies themselves. But comparisons over time at each employer are valid.

Several senior executives said they were disappointed at the lack of change. “I think we’ve made some progress, but not enough,” said Jim Cowles, chief executive for Europe, Middle East and Africa at Citi.

Clare Woodman, chief operating officer of Morgan Stanley’s investment bank, said: “No one thinks that we are done.”

Some senior bankers are now promising consequences for staff who do not support the corporate agenda of achieving a level playing field for women in pay and promotions. 

“Certainly if someone does something negatively or behaves in a way which is inconsistent with our goals, clearly they will be reprimanded,” said Alex Wilmot-Sitwell, EMEA president of Bank of America Merrill Lynch. “Punishment can come in different forms but the easiest way is paying them less.”

Simon Cooper, head of corporate and investment banking at Standard Chartered, said he had told his executives that it would “have a negative impact on their careers if they don’t do everything possible” to promote diversity.

At Santander, 15 per cent of each employee’s evaluation is based on “fomenting corporate culture”, including diversity. UBS introduced diversity and inclusion to the scorecards for all its line managers this year. Swedbank has had diversity and inclusion on the scorecards of senior managers for the past three years; at Barclays, gender diversity has been a “key component” of the balanced scorecards employees are measured against since 2013.

Despite the strong support for gender equality at a policy level, some women in the industry told the FT that they still faced cultural issues as women.

“I stood out in a good way and in a bad way,” said one senior investment banker in London. “It was a huge advantage with clients, and a huge disadvantage internally.”

With clients, being the only woman made her “memorable” she said. Internally, “if all your bosses are men there wasn’t much to aspire too”.

Most of the institutions surveyed said they already conducted audits of whether men and women were paid equally for the same roles.

But some women said they still believed there was a gap, and that it had developed partly because men argued harder for their bonuses and were better at self promotion than women. “I would tell you that from my perspective I’ve got more work to do to look at that area before I make a judgment,” Citi’s Mr Cowles said on whether his bank had achieved pay parity. 

Schroders was last week the latest British blue-chip company to publish pay gap data, revealing that female staff were paid salaries 33 per cent lower than male staff on average, while bonuses were 66 per cent lower.

*Additional reporting by Cat Rutter Pooley, Oliver Ralph and Madison Marriage*

{% endmarkdown %}

<div>
  <h2 class="o-typography-subhead--crosshead">Explore the data</h2>
</div>

<div id="table" class="table-container">
  {{ tableElement | safe }}
</div>

{% markdown %}
[Download the data](http://bertha.ig.ft.com/view/publish/dsv/1Z4GFsSPGVYAY1Y04qWWO-ZnkH5jnNOpUF6MGwiDyp6E/data.csv) in CSV format.
{% endmarkdown %}

{% endblock %}
